DATASET: https://drive.google.com/file/d/17-50w8ZpkSIMc3WvQr0l3NpAAgq5y3B9/view?usp=sharing

**EXTRACT**

In [30]:
import pandas as pd

data = pd.read_csv('/content/comp_bikes_mod.csv')
colunas = data.columns.to_list()
print(colunas)

['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed', 'casual', 'registered', 'cnt']

Verificação dos dados faltantes

In [31]:
data.isna().sum()

instant       1738
dteday        1738
season        1738
yr            1738
mnth          1738
hr            1738
holiday       1738
weekday       1738
workingday    1738
weathersit    1738
temp          1738
atemp         1738
hum           1738
windspeed     1738
casual        1738
registered    1738
cnt           1738
dtype: int64

**TRANSFORM**

Excluindo colunas que não alteram a ánalise dos dados

In [32]:
data.drop(columns=['yr', 'mnth'], inplace=True)

In [33]:
trated_data = data.bfill()

In [34]:
trated_data.isna().sum()

instant       2
dteday        0
season        1
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          1
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

**UPDATE**

In [35]:
trated_data.to_excel('trated_comp_bikes_mod.xlsx', index=False)